<div class="container">

  <div class="text-center">
    <%=link_to image_tag('admin-logo.png', class:"admin-brand"), :controller => :views, :action => :admin %>
  </div>

  <div class="section-title">
    edit <%= @artist.artist_name %>'s profile
  </div>
  <hr>

  <div class="row">
    <div class="col-md-8">

      <div class="well">

        <%= render 'form' %>
        <span class="p-label"><%= link_to 'Delete Artist', @artist, method: :delete, data: { confirm: 'Are you sure you want to delete this artist?' } %></span>

      </div>

    </div>

    <div class="col-md-4">

      <div class="well">

        <h2>Help</h2>
        <hr>

        <p>Artist Photo</p>
        <p class="p-text">Must be 640x640 pixels. Displayed on the Artists page. <a href="#">Example</a></p>

        <hr>

        <p>Header Image</p>
        <p class="p-text">Must be 1440x300 pixels. Displayed at the top of your artist page. <a href="#">Example</a></p>

        <hr>

        <p>Biography</p>
        <p class="p-text">About artist or band. Make sure to site the source of the biography. (ex. Wikipedia)</p>

        <hr>

        <p>Kit Specifications</p>
        <p class="p-text">Your kit's shell sizes. Width x depth from your largest drum to your smallest.  (ex. 22x18, 16x16, 13x9)</p>

        <hr>

        <p>Kit Material</p>
        <p class="p-text">The wood or material type your kit is made of. (ex. Maple, Birch, acrylic, etc.)</p>

        <hr>

        <p>Kit Finish</p>
        <p class="p-text">The finish type you ordered on your custom kit.</p>

        <hr>

        <p>Kit Photo</p>
        <p class="p-text">Must be 600x450.</p>

        <hr>

        <p>Social</p>
        <p class="p-text">Links to you or your band's social pages.</p>

      </div>
    </div>
  </div>

</div>

<%= render 'views/footer' %>
