<div class="jumbotron-header">
  <%= render 'views/header' %>
  <div class="jumbo-head">
    artists
  </div>
</div>


<div class="container">

<% @artists.each do |artist| %>
  <div class="img-640">

    <a href="<%= artist_path(artist) %>" class="meta-hover"><img src="<%= artist.artist_img %>" width="100%">

      <div class="contenthover">
        <div class="hover-text-container">
          <div class="hover-text-head"><%= artist.artist_name %></div>
          <div class="hover-text-sub"><%= artist.artist_band %></div>
        </div>
      </div>
    </a>

  </div>
<% end %>

</div>

<%= render 'views/footer' %>
