<%= form_for(@drum) do |f| %>
  <% if @drum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drum.errors.count, "error") %> prohibited this drum from being saved:</h2>

      <ul>
      <% @drum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Drum Details</h2>
    <hr>

    <!-- <%= f.text_field :drumTitle, class: "form-control", placeholder: "Title" %>
    <br>
  </div>
  <div class="field">
    <%= f.date_field :release_date, class: "form-control", placeholder: "Release Date" %>
    <br>
  </div>
  <div class="field">
    <%= f.text_field :drumSize, class: "form-control", placeholder: "Size(s)" %>
    <br>
  </div>
  <div class="field">
    <%= f.text_field :drumPrice, class: "form-control", placeholder: "Buy as built price" %>
    <br>
  </div> -->
  <div class="field">
    <%= f.text_area :drumDetails, rows: "8", class: "form-control" %>
    <br>
  </div>

  <h2>Drum Photo</h2>
  <hr>
  <div class="field">
    <%= f.file_field :photo %>
    <br>
    <hr>
  </div>

  <!-- <br>
  <h2>Customer Details</h2>
  <hr>

  <div class="field">
    <%= f.text_field :drumCustomer, class: "form-control", placeholder: "Customer Name" %>
    <br>
  </div>
  <div class="field">
    <%= f.text_field :drumCustomerSocial, class: "form-control", placeholder: "Customer Social Link" %>
    <br>
  </div>

  <hr>
  <p><%= f.check_box :snare%> This is a snare drum</p>
  <hr> -->

  <div class="actions">
    <center>
    <%= f.submit class: "btn-inverse btn-primary btn-sm" %>
    </center>
  </div>
<% end %>
