<div class="jumbotron-artist">
  <%= render 'views/header' %>
</div>

<div class="container vertical-center">
  <div class="drumwell row">

    <div class="show-content">

      <div class="col-md-8 modal-photo">
        <img class="drum-photo" src="<%= @drum.photo %>">
      </div>

      <div class="col-md-4 modal-right">

        <br>
        <h2>Details</h2>
        <hr>

        <div class="modal-details">
          <p class="p-text"><%= @drum.drumDetails %></p>
          <hr>
          <p class="created-at"><%= @drum.created_at.strftime("%b. %d %Y") %></p>
        </div>

      </div>

    </div>

    <!-- <p>
      <strong>Photo:</strong>
      <%= @drum.photo %>
    </p>

    <p>
      <strong>Drumtitle:</strong>
      <%= @drum.drumTitle %>
    </p>

    <p>
      <strong>Release Date:</strong>
      <%= @drum.release_date %>
    </p>

    <p>
      <strong>Drumsize:</strong>
      <%= @drum.drumSize %>
    </p>

    <p>
      <strong>Drumprice:</strong>
      <%= @drum.drumPrice %>
    </p>

    <p>
      <strong>Drumcustomer:</strong>
      <%= @drum.drumCustomer %>
    </p>

    <p>
      <strong>Drumcustomersocial:</strong>
      <%= @drum.drumCustomerSocial %>
    </p>

    <p>
      <strong>Drumdetails:</strong>
      <%= @drum.drumDetails %>
    </p>

    <p>
      <strong>Snare?:</strong>
      <%= @drum.snare %>
    </p> -->
  </div>
</div>

<div class="text-center">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Edit', edit_drum_path(@drum) %> |
  <%= link_to 'Back', drums_path %>
</div>

<!-- FOOTER -->
<%= render 'views/footer' %>
