
<div class="container">

  <div class="row">
    <% @drums = Drum.order("created_at desc") %>
    <% @drums.each do |drum| %>
      <div class="col-md-4">
        <div class="img-600">
          <a href="#" data-toggle="modal" data-target="<%= "#drum_modal_#{drum.id}" %>" class="meta-hover"><img src="<%= drum.photo %>">

            <!-- <div class="contenthover">
              <div class="hover-text-container">
                <div class="hover-text-head"><%= drum.drumCustomer %></div>
                <div class="hover-text-sub"><%= drum.drumSize %></div>
                <div class="hover-text-sub-2"><%= drum.drumDetails %></div>
              </div>
            </div> -->

          </a>
        </div>
      </div>

      <%= render partial: 'drum_detail', locals: {:drum => drum} %>

    <% end %>

  </div>

</div>
