<div class="container">

  <div class="row">
    <div class="col-md-8">

      <div class="well">

        <h2>Contact Truth Custom Drums</h2>
        <hr>

          <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.text_field :name, :required => true, class: 'form-control', placeholder: 'Name' %><br>
            <!-- <%= f.input :name, :required => true, class: 'form-control', placeholder: 'name' %> -->
            <%= f.text_field :email, :required => true, class: 'form-control', placeholder: 'Email' %><br>
            <!-- <%= f.input :email, :required => true %> -->
            <%= f.text_area :message, :required => true, class: 'form-control', placeholder: 'Message', rows: '10' %>
            <!-- <%= f.input :message, :as => :text, :required => true %> -->
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              </br>
              <%= f.button :submit, 'Send message', :class=> "btn-inverse btn-primary btn-sm" %>
            </div>
          <% end %>

      </div>

    </div>

    <div class="col-md-4">

      <div class="well">

      <p>Hours of Operation</p>
        <p class="p-text">
          Monday - Friday 8 AM - 5 PM PST
        </p>

        <hr>

        <p>Shop Address</p>
        <p class="p-text">
          Truth Custom Drums<br>
          8054 SW Nimbus Ave. 6-H<br>
          Beaverton, OR 97008</p>
        </p>

        <hr>

        <p><a href="tel:503-641-4050">(503)-641-4050</a></p>
        <p><a href="mailto:info@truthdrums.com">info@truthdrums.com</a></p>

        <hr>

        <p>Download pricing info <a href="http://www.truthdrums.com/pricing.pdf">here</a></p>

      </div>

    </div>

  </div>
</div>
