<!-- DRUM DETAIL MODAL -->

<div class="modal drum-detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="<%= "drum_modal_#{drum.id}" %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content row">

        <div class="col-md-8 modal-photo">

          <div class="m_modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag('modal-brand.jpg', class:'modal-brand') %>
          </div>

          <a href="<%= drum_path(drum) %>"><img class="drum-photo" src="<%= drum.photo %>"></a>
        </div>

        <div class="col-md-4 modal-right">

          <div class="modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag('modal-brand.jpg', class:'modal-brand') %>
          </div>

          <div class="modal-details">
            <p class="p-text"><%= drum.drumDetails %></p>

          </div>
          <hr>
          <p class="created-at"><%= drum.created_at.strftime("%b. %d %Y") %> <span class="pull-right"><%= link_to 'Share', drum_path(drum) %></span></p>
        </div>


    </div>
  </div>
</div>
