<div class="container-fluid">
  <div class="row footer">

    <%=link_to image_tag('btn-inst.jpg', class:"footer-social"), "https://www.instagram.com/truthcustomdrums/" %>
    <%=link_to image_tag('btn-twt.jpg', class:"footer-social"), "https://twitter.com/TRUTHCSTMDRUMS" %>
    <%=link_to image_tag('btn-fb.jpg', class:"footer-social"), "https://www.facebook.com/TruthCustomDrums" %>

    <div class="footer-links">
      <%= link_to "contact", contact_path %><span class="space"></span><%= link_to "terms & conditions", terms_path %><span class="space"></span><%= link_to "support", support_path %><span class="space"></span><%= link_to "admin", admin_path %>
    </div>

    <div class="footer-copy">&copy; 2016 Truth Custom Drums</div>

  </div>
</div>
