<div class="mobile-truth-nav" id="nav-toggle">
	<div class="container">
		<div class="row">

			<div class="text-center">
					<%=link_to image_tag('m_logo.png', class:"m_brand"), root_path %>
			</div>

			<div class="m_close">
				<a href="#" onclick="toggle_visibility('nav-toggle');">&times;</a>
			</div>

			<div class="text-center">
				<ul class="m_truth-nav">
					<li><%= link_to "Drums", root_path %></li>
					<li><%= link_to "Shop", shop_path %></li>
					<li><%= link_to "Artists", artists_path %></li>
					<li><%= link_to "Company", company_path %></li>
					<li><%= link_to "Contact", contacts_path %></li>
				</ul>
			</div>

		</div>
	</div>
</div>
