<!DOCTYPE html>
<html>
<head>
  <title>Truth Custom Drums</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Montserrat', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>

  <!-- MOBILE HEADER -->
  <%= render 'layouts/m_header' %>

  <% if @is_admin %>
  <%= render 'layouts/admin_header' %>
  <% elsif controller.controller_name == "artists" && controller.action_name == "show" %>
  <%= render 'layouts/artist_header' %>
  <% elsif controller.controller_name == "drums" && controller.action_name == "show" %>
  <%= render 'layouts/show_header' %>
  <% else %>
  <%= render 'layouts/header' %>
  <% end %>



  <%= yield %>

  <!-- FOOTER -->
  <% if !@is_admin %>
  <%= render 'layouts/footer' %>
  <% end %>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

</body>
</html>
